/*
Errno::ENOENT: No such file or directory @ rb_sysopen - /home/art/Dropbox/sync/dev/www/alo-framework/src/resources/scss/css.scss

Backtrace:
/home/art/.gem/ruby/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:482:in `read'
/home/art/.gem/ruby/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:482:in `update_stylesheet'
/home/art/.gem/ruby/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/art/.gem/ruby/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:209:in `each'
/home/art/.gem/ruby/gems/sass-3.4.14/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/art/.gem/ruby/gems/sass-3.4.14/lib/sass/plugin.rb:82:in `update_stylesheets'
/home/art/.gem/ruby/gems/sass-3.4.14/lib/sass/exec/sass_scss.rb:361:in `watch_or_update'
/home/art/.gem/ruby/gems/sass-3.4.14/lib/sass/exec/sass_scss.rb:51:in `process_result'
/home/art/.gem/ruby/gems/sass-3.4.14/lib/sass/exec/base.rb:52:in `parse'
/home/art/.gem/ruby/gems/sass-3.4.14/lib/sass/exec/base.rb:19:in `parse!'
/home/art/.gem/ruby/gems/sass-3.4.14/bin/sass:13:in `<top (required)>'
/home/art/bin/sass:23:in `load'
/home/art/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory @ rb_sysopen - /home/art/Dropbox/sync/dev/www/alo-framework/src/resources/scss/css.scss"; }
